* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
  gap: 2rem;
  margin-bottom: 2rem;
}
.image-change {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.625rem;
}
.image {
  width: 300px;

  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
}

.square {
  aspect-ratio: 1;
}

.aspect-2-3 {
  aspect-ratio: 2/3;
}

.aspect-3-2 {
  aspect-ratio: 3/2;
  /* background-size: cover; */
}

button {
  padding: 0.5rem 0.5rem;
}
